.box-titulo{
    background-color: #106A99;
    width: 100%;
    padding: 10px, 0px, 0px, 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
.titulo{
    font-family: 'abel', 'lato';
    font-size: 70px;
    color: #02D7DA;
}

h1{
    color: #116193;
    font-family: 'abel', 'lato';
}

.body-header{
    background-color:  rgb(233, 229, 229);
    width: 100%;
}
