<div class="main-container">

  <div class="header-container">
    <header class="headerTitle">
      <h1>{{filme.title}}</h1>
      <p class="text-data">{{filme.release_date}}</p>
    </header>
  </div>

  <section class="body-container">

    <article class="details-box">

      <div class="sinopse-box">
        <h3>Sinopse</h3>
        <p>{{filme.overview}}</p>
      </div>

      <div class="info-box">
        <h3>Informações</h3>

        <div class="info-line">

          <div class="title-value">
            <h4>Situação </h4>
            <p>{{filme.status}}</p>
          </div>

          <div class="title-value">
            <h4>Idioma</h4>
            <p>{{filme.original_language}}</p>
          </div>

          <div class="title-value">
            <h4>Duração</h4>
            <p>{{filme.runtime}} minutos</p>
          </div>

          <div class="title-value">
            <h4>Orçamento</h4>
            <p>{{filme.budget}}</p>
          </div>

          <div class="title-value">
            <h4>Receita</h4>
            <p>{{filme.budget}}</p>
          </div>

          <div class="title-value">
            <h4>Lucro</h4>
            <p>{{filme.budget}}</p>
          </div>

        </div>
      </div>
      <div class="score-genre-box">

          <div class="genres">
            <p>Teste</p>
          </div>
  
          <div class="score">
  
            <img class="score-img" src="../../assets/score-img.png">
            <p class="score-value">{{filme.vote_average}}%</p>
  
          </div>
        </div>
    </article>
    <div class="img-box">

      <img class="poster" src="http://image.tmdb.org/t/p/w185/{{filme.poster_path}}">
    
    </div>

  </section>

  <!-- Video -->
   <iframe [src]='domSanitizer.bypassSecurityTrustResourceUrl(trailer)' frameborder="0" allowfullscreen></iframe>

</div>