
<div class="container">

<header class="box-titulo">
    <p class="titulo">Movies</p>
  </header>


<body class = "details-body">

  <div class="body-header">
    <h1>Titulo</h1>
    <p class="text-data">Data</p>
  </div>

  <div class="body-details">
    <div class="body-details-sinopse">
    <h1>Sinopse</h1>
    <p>Lorem ipsum</p>
  </div>

    <div class="body-details-info">
      <h1>Informações</h1>
      <div class="info-line">
        <h1>Situação</h1>
        <h1>Idioma</h1>
        <h1>Duração</h1>
        <h1>Orçamento</h1>
        <h1>Receita</h1>
        <h1>Lucro</h1>
      </div>
    </div>

    <img src="../../assets/not-found.png">
<!--<ngfor>
      <p>Tags</p>
    </ngfor> -->

    <!--<img src="score-img">-->
  </div>

  <!-- Video -->
  <iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe>

</body>






</div>