/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: lato;
    src: url(assets/Lato-Regular.ttf);
}

@font-face{
    font-family: abel;
    src: url(assets/Abel-Regular.ttf);
}