<section class="box-body">
  <div class="search-bar">
    <input type="text" class="busca-filme" placeholder="Busque um filme por nome, ano ou gênero..." autofocus [formControl]="textoBusca">
  </div>
  <div *ngFor="let movie of resultList  | paginate: { itemsPerPage: 5, currentPage: p }" class="container-filme" (click)="informacoesFilme(movie.id)">
    <app-item-filme [tituloFilme]=movie.title [dataLancamento]=movie.release_date [sinopseFilme]=movie.overview [pathPoster]=movie.poster_path
      [mediaNota]=movie.vote_average [idsGeneros]=movie.genre_ids [generos]=this.todosGeneros></app-item-filme>
  </div>
  
  <div class="paginacao">
  <pagination-controls directionLinks = "false" responsive="true" (pageChange)="p = $event"></pagination-controls>
</div>
</section>