.box-titulo{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .titulo{
        background: var(--first-color);
        color: var(--second-color);
        text-align: center;
        font-size: -webkit-xxx-large;
        cursor: pointer;
        font-family: 'abel', 'lato';
        margin-top: -8px;
        padding: 1rem;
        margin-bottom: 3rem;
    margin-left: -10px;
    margin-right: -10px;
    width: auto;

    }
    